<style>
  body{
    text-align: center;
  }
</style>

<body>
<h2>Sign up</h2>
<%= @error %>
<% if @error == true %>
  <h2> You must fill out all required boxes before creating a new user! </h2>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %> 

  <div class="col-lg-12">
      <br>
      <div class="row">
         <div class="col-md-4 col-md-offset-4 text-left">
    <%= f.label :first_name %><br/>
    <div class="col-sm-6">
    <%= f.text_field :first_name %>
  </div>
   </div>
      </div>
   </div>

   <div class="col-lg-12">
      <br>
      <div class="row">
         <div class="col-md-4 col-md-offset-4 text-left">
    <%= f.label :last_name %><br />
    <div class="col-sm-6">
    <%= f.text_field :last_name %>
  </div>
   </div>
      </div>
   </div>

 
 <div class="col-lg-12">
      <br>
      <div class="row">
         <div class="col-md-4 col-md-offset-4 text-left">
<% jobs_array = ['Business Intelligence', 'Cape Town Sales Manager',  'Cape Town Sales', 'CEO', 'City Planner', 'City Planner Manager', 'CS', 'CS Manager', 'CS Team Leader', 'Durban Sales', 'Durban City Manager', 'Editorial', 'Editorial Manager', 'Finance', 'Finance Manager', 'Goods Administrator', 'Goods Manager', 'Goods Sales', 'HR Manager', 'Johannesburg Sales', 'Logistics', 'Logistics Manager', 'Pretoria Sales', 'Pretoria Sales Manager', 'Product Designer', 'PRM', 'PRM Manager', 'QA', 'Sales Manager', 'Strategic Accounts', 'Telesales', 'Telesales Manager', 'Travel', 'Business Intelligence Manager', 'Marketing Associate', 'Marketing Manager', 'Johannesburg Sales Manager', 'Strategic Accounts Manager', 'HR Trainer', 'HR Administrator'] %>
 <%= f.label :title%><br />
 <div class="col-sm-6">
      <%=f.select(:job_title, options_for_select(jobs_array), :include_blank => 'Please Select') %></div>
       </div>
      </div>
   </div>

   <div class="col-lg-12">
      <br>
      <div class="row">
         <div class="col-md-4 col-md-offset-4 text-left">
    <%= f.label :email %><br />
    <div class="col-sm-6">
    <%= f.email_field :email, autofocus: true %>
  </div>
   </div>
      </div>
   </div>

   <div class="col-lg-12">
      <br>
      <div class="row">
         <div class="col-md-4 col-md-offset-4 text-left">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="col-sm-6">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
 </div>
      </div>
   </div>
   <div class="col-lg-12">
      <br>
      <div class="row">
         <div class="col-md-4 col-md-offset-4 text-left">
    <%= f.label :password_confirmation %><br />
    <div class="col-sm-6">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
   </div>
      </div>
   </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</body>
