<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag '/stylesheets/welcome_email' %>
  </head>

  <body>
    <font color=rgba(91, 201, 124, 1)>
    <h1>It's Appraisal Time <%= @user.first_name %>!</h1><br/>
    

    <% if @user.job_title == 'Business Intelligence' %>
        <% @reviewee = peer_forms(@bus_intel_arr) %>
        <% if @bus_intel_manager.first %>
          Please fill this form out for your manager<br/><br/>
          <%= @url_busintel_manager_subordinate %><br/><br/>
        <% end %>

        <% if @reviewee.first_name != "me" %>
          Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
          <%= @url_busintel_peer %><br/><br/>
        <% end %>

        <font color=rgba(91, 201, 124, 1)> Please assess your own performance </font> <br/><br/>
        <%= @url_busintel_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Business Intelligence Manager' %>
      Fill this form out for all members of your Business Intelligence team<br/><br/>
      <%= @url_busintel_supervisor %><br/><br/>
        <font color=rgba(91, 201, 124, 1)> Please assess your own performance </font><br/><br/>
      <%= @url_busintel_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Cape Town Sales Manager' %>
      Fill this form out for your manager<br/><br/>
      <%= @url_sales_manager_subordinate %><br/><br/>
      Fill this form out for all members of your sales team<br/><br/>
      <%= @url_ct_sales_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)> Please assess your own performance</font><br/><br/>
      <%= @url_ct_sales_manager_peer %><br/><br/>
    <% end %>

    <% if @user.job_title == 'Cape Town Sales' %>
      <% @reviewee = peer_forms(@ct_sales_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_ct_sales_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_ct_sales_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)> Please assess your own performance</font><br/><br>
      <%= @url_ct_sales_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'City Planner Manager' %>
      Fill this form out for all members of your City Planning team<br/><br/>
      <%= @url_city_planner_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)> Please assess your own performance </font><br/><br/>
      <%= @url_city_planner_manager_peer %><br/><br/>
    <% end %>

    <% if @user.job_title == 'City Planner' %>
      <% @reviewee = peer_forms(@city_planner_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_city_planner_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_city_planner_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)> Please assess your own performance </font><br/><br/>
      <%= @url_city_planner_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'CS' %>
      <% @reviewee = peer_forms(@cs_arr) %><br/><br/>
      Please fill this form out for your Team Leader<br/><br/>
      <%= @url_CS_team_leader_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_CS_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_CS_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'CS Team Leader' %>
      <% @reviewee = peer_forms(@cs_tl_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_CS_manager_subordinate %><br/><br/>

      Please fill this form out for all members of your CS team<br/><br/>
      <%= @url_CS_supervisor %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_CS_team_leader_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_CS_team_leader_peer %><br/><br/>
    <% end %>



    <% if @user.job_title == 'CS Manager' %>
      Please fill this form out for all CS team leaders<br/><br/>
      <%= @url_CS_tl_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_CS_manager_peer %><br/><br/>
    <% end %>
    


    <% if @user.job_title == 'Durban Sales' %>
      <% @reviewee = peer_forms(@durban_sales_arr) %>

      Please fill this form out for your manager<br/><br/>
      <%= @url_durban_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_durban_sales_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please asses your own performance</font><br/><br/>
      <%= @url_durban_sales_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Durban City Manager' %>
      Fill this form out for your manager<br/><br/>
      <%= @url_sales_manager_subordinate %><br/><br/>
      <img alt="" src="http://mysite.com/assets/foo.jpg" >
      Fill this form out for all members of your sales team<br/><br/>
      <%= @url_durban_sales_supervisor %><br/><br/>

       <img alt="" src="http://mysite.com/assets/foo.jpg" >
      Please assess your own performance<br/><br/>

      <font color=#82b548> Please assess your own performance</font><br/><br/>
      <%= @url_durban_sales_manager_peer %><br/><br/>
       <img alt="" src="http://mysite.com/assets/foo.jpg" >
    <% end %>


    <% if @user.job_title == 'Editorial' %>
      <% @reviewee = peer_forms(@editorial_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_editorial_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_editorial_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_editorial_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Editorial Manager' %>
      Fill this form out for all members of your editorial team<br/><br/>
      <%= @url_editorial_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_editorial_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Finance' %>
      <% @reviewee = peer_forms(@finance_arr) %>

      Please fill this out for your manager<br/><br/>
      <%= @url_finance_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_finance_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_finance_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Finance Manager' %>
      Fill this form out for all members of your finance team<br/><br/>
      <%= @url_finance_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)> Please assess your own performance </font><br/><br/>
      <%= @url_finance_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Goods Administrator' %>
      <% @reviewee = peer_forms(@goods_administrator_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_goods_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_goods_admin_peer %><br/><br/>
      <% end %>

        <font color=rgba(91, 201, 124, 1)> Please assess your own performance </font><br/><br/>
        <%= @url_goods_admin_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Goods Sales' %>
      <% @reviewee = peer_forms(@goods_sales_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_goods_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_goods_sales_peer %><br/><br/>
      <% end %>

        <font color=rgba(91, 201, 124, 1)> Please assess your own performance </font><br/><br/>
        <%= @url_goods_sales_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Goods Manager' %>
      Please fill this forms out for all members of your goods administor team<br/><br/>
      <%= @url_goods_admin_supervisor %><br/><br/>
      Please fill this form out for all members of your goods sales team<br/><br/>
      <%= @url_goods_sales_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)> Please assess your own performance</font><br/><br/>
      <%= @url_goods_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Johannesburg Sales' %>
      <% @reviewee = peer_forms(@johannesburg_sales_arr) %>
      <% if @johannesburg_sales_manager.first %>
          Please fill this form out for your manager<br/><br/>
          <%= @url_johannesburg_sales_manager_subordinate %><br/><br/>
      <% end %>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_johannesburg_sales_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_johannesburg_sales_peer %><br/><br/>
    <% end %>


     <% if @user.job_title == 'Johannesburg Sales Manager' %>
      Fill this form out for your manager<br/><br/>
      <%= @url_sales_manager_subordinate %><br/><br/>
      Fill this form out for all members of your sales team<br/><br/>
      <%= @url_johannesburg_sales_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_johannesburg_sales_manager_peer %><br/><br/>
    <% end %>



    <% if @user.job_title == 'Logistics' %>
      <% @reviewee = peer_forms(@logistics_arr) %>
      Please fill this out for your manager<br/><br/>
      <%= @url_logistics_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_logistics_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_logistics_peer %><br/><br/>
    <% end %>



     <% if @user.job_title == 'Logistics Manager' %>
      <% @reviewee = peer_forms(@logistics_manager_arr) %>
      Please fill this form out for all members of your logistics team<br/><br/>
      <%= @url_logistics_supervisor %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_logistics_manager_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_logistics_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Pretoria Sales' %>
      <% @reviewee = peer_forms(@pretoria_sales_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_pretoria_sales_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_pretoria_sales_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_pretoria_sales_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Pretoria Sales Manager' %>
      Fill this form out for your manager<br/><br/>
      <%= @url_sales_manager_subordinate %><br/><br/>
      Please fill this form out for all members of your sales team<br/><br/>
      <%= @url_pretoria_sales_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_pretoria_sales_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Product Designer' %> 
      <% @reviewee = peer_forms(@product_designer_arr) %>
      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_product_designer_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)> Please assess your own performance</font><br/><br/>
      <%= @url_product_designer_peer %><br/><br/>

    <% end %>


    <% if @user.job_title == 'PRM' %>
      <% @reviewee = peer_forms(@PRM_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_PRM_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_PRM_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_PRM_peer %><br/><br/>
    <% end %>

    <% if @user.job_title == 'PRM Manager' %>
      Please fill this form out for all members of your PRM team<br/><br/>
      <%= @url_PRM_supervisor %><br/><br/>
      Please fill this form out for all members of your QA team<br/><br/>
      <%= @url_QA_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_PRM_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'QA' %>
      <% @reviewee = peer_forms(@QA_arr) %><br/><br/>
      Please fill this form out for your manager<br/><br/>
      <%= @url_PRM_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_QA_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_QA_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Sales Manager' %>
      Please fill out this form for the Pretoria Sales Manager <br/><br/>
      <%= @url_pretoria_sales_manager_supervisor %><br/><br/>
      Please fill out this form for the Durban City Manager <br/><br/>
      <%= @url_durban_manager_supervisor %><br/><br/>
      Please fill out this form for the Cape Town Sales Manager <br/><br/> 
      <%= @url_ct_manager_supervisor %><br/><br/>
      Please fill out this form for the Telesales Manager <br/><br/>
      <%= @url_telesales_manager_supervisor%><br/><br/>
      <% if @johannesburg_sales_manager.first %>
      Please fill out this form for the Johannesburg Sales Manager <br/><br/>
      <%= @url_johannesburg_sales_manager_supervisor %><br/><br/>
      <% end %>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_sales_manager_peer %><br/><br/>
    <% end %>

    <% if @user.job_title == 'Strategic Accounts' %>
      <% @reviewee = peer_forms(@strategic_accounts_arr) %>
      <% if @strategic_accounts_manager.first %>
          Please fill this form out for your manager<br/><br/>
          <%= @url_strategic_accounts_manager_subordinate %><br/><br/>
      <% end %>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_strategic_accounts_peer %><br/><br/>
      <% end %>

        <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
        <%= @url_strategic_accounts_peer %><br/><br/> 
    <% end %>


    <% if @user.job_title == 'Strategic Accounts Manager' %>
      Fill this form out for all members of your strategic accounts team<br/>
      <%= @url_strategic_accounts_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_strategic_accounts_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Telesales' %>
      <% @reviewee = peer_forms(@telesales_arr) %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_telesales_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_telesales_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_telesales_peer %><br/><br/>
    <% end %>

    <% if @user.job_title == 'Telesales Manager' %>
      Please fill this form out for your manager<br/><br/>
      <%= @url_sales_manager_subordinate %><br/><br/>
      Please fill this form out for all members of your telesales team<br/><br/>
      <%= @url_telesales_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_telesales_manager_peer %><br/><br/>
    <% end %>

    <% if @user.job_title == 'Travel' %>
      <% @reviewee = peer_forms(@travel_arr) %>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_travel_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_travel_peer %><br/><br/>
    <% end %>

    <% if @user.job_title == 'HR Administrator' %>
      <% @reviewee = peer_forms(@hr_admin_arr) %>

      Please fill this out for your manager<br/><br/>
      <%= @url_hr_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_hr_admin_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_hr_admin_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'HR Trainer' %>
      <% @reviewee = peer_forms(@hr_trainer_arr) %>

      Please fill this out for your manager<br/><br/>
      <%= @url_hr_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_hr_trainer_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_hr_trainer_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'HR Manager' %>
      Fill this form out for all members of your HR Administrator team<br/><br/>
      <%= @url_hr_admin_supervisor %><br/><br/>
      Fill this form out for all members of your HR Trainer team<br/><br/>
      <%= @url_hr_trainer_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_hr_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Marketing Associate' %>
      <% @reviewee = peer_forms(@marketing_arr) %>

      Please fill this out for your manager<br/><br/>
      <%= @url_marketing_manager_subordinate %><br/><br/>

      <% if @reviewee.first_name != "me" %>
        Please fill out this form for <strong><%= @reviewee.first_name %> <%= @reviewee.last_name %></strong><br/><br/>
        <%= @url_marketing_peer %><br/><br/>
      <% end %>

      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_marketing_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == 'Marketing Manager' %>
      Fill this form out for all members of your Marketing team<br/><br/>
      <%= @url_marketing_supervisor %><br/><br/>
      <font color=rgba(91, 201, 124, 1)>Please assess your own performance</font><br/><br/>
      <%= @url_marketing_manager_peer %><br/><br/>
    <% end %>


    <% if @user.job_title == "CEO" %>
      <% if @bus_intel_manager.first %>
        Please fill out this form for <strong><%= @bus_intel_manager.first.first_name %> <%= @bus_intel_manager.first.last_name %></strong><br/><br/>
        <%= @url_busintel_manager_supervisor %><br/><br/>
      <% end %>

      <% if @sales_manager.first %>
        Please fill out this form for <strong><%= @sales_manager.first.first_name %> <%= @sales_manager.first.last_name %></strong><br/><br/>
        <%= @url_sales_manager_supervisor %><br/><br/>
      <% end %>

      <% if @finance_manager.first %>
        Please fill out this form for <strong><%= @finance_manager.first.first_name %> <%= @finance_manager.first.last_name %></strong><br/><br/>
        <%= @url_finance_manager_supervisor %><br/><br/> 
      <% end %>

      <% if @city_planner_manager.first %>
        Please fill out this form for <strong><%= @city_planner_manager.first.first_name %> <%= @city_planner_manager.first.last_name %></strong><br/><br/>
        <%= @url_city_planner_manager_supervisor %><br/><br/>
      <% end %>

      <% if @editorial_manager.first %>
        Please fill out this form for <strong><%= @editorial_manager.first.first_name %> <%= @editorial_manager.first.last_name %></strong><br/><br/>
        <%= @url_editorial_manager_supervisor %><br/><br/> 
      <% end %>

      <% if @logistics_manager.first %>
        Please fill out this form for <strong><%= @logistics_manager.first.first_name %> <%= @logistics_manager.first.last_name %></strong><br/><br/>
        <%= @url_logistics_manager_supervisor %><br/><br/>
      <% end %>

      <% if @PRM_manager.first %>
        Please fill out this form for <strong><%= @PRM_manager.first.first_name %> <%= @PRM_manager.first.last_name %></strong><br/><br/>
        <%= @url_PRM_manager_supervisor %><br/><br/> 
      <% end %>

      <% if @goods_manager.first %>
        Please fill out this form for <strong><%= @goods_manager.first.first_name %> <%= @goods_manager.first.last_name %></strong><br/><br/>
        <%= @url_goods_manager_supervisor %><br/><br/>
      <% end %>

      <% if @cs_manager.first %>
        Please fill out this form for <strong><%= @cs_manager.first.first_name %> <%= @cs_manager.first.last_name %></strong><br/><br/>
        <%= @url_CS_manager_supervisor %><br/><br/> 
      <% end %>

      <% if @hr_manager.first %>
        Please fill out this form for <strong><%= @hr_manager.first.first_name %> <%= @hr_manager.first.last_name %></strong><br/><br/>
        <%= @url_hr_manager_supervisor %><br/><br/> 
      <% end %>

      <% if @strategic_accounts_manager.first %>
        Please fill out this form for <strong><%= @strategic_accounts_manager.first.first_name %> <%= @strategic_accounts_manager.first.last_name %></strong><br/><br/>
        <%= @url_strategic_accounts_manager_supervisor %><br/><br/> 
      <% end %>

      <% if @marketing_manager.first %>
        Please fill out this form for <strong><%= @marketing_manager.first.first_name %> <%= @marketing_manager.first.last_name %></strong><br/><br/>
        <%= @url_marketing_manager_supervisor %><br/><br/> 
      <% end %>

    <% end %>
      
      
      
      
       
      
       
      
      
      
      
       
      
     



    </font>
  </body>
</html>