
<% if @user.role == 'admin' %>
	<h1> Hey Russell! </h1>
<% else %>

	<% if current_user != @user %>
		<% if @user.last_name[-1] != 's' %>
			<h1><%= @user.first_name %> <%= @user.last_name %>'s Appraisal Reports</h1>
		<% else %>
			<h1><%= @user.first_name %> <%= @user.last_name %>' Appraisal Reports</h1>
		<% end %>
	<% else %>
		<h1>Your Appraisal Reports</h1>
	<% end %>

	<% if @results.empty? %>
		<% if @user == current_user %>
			<h2>You do not have any appraisals at this time</h2>
		<% end %>

		<% else %>
			<% @results.each do |result| %>
				<h2><%= result.quarter %> <%= result.year %></h2>
				<h3><%= result.summary %> </h3>
				<hr/>
			<% end %>
		<% end %>


	<% if current_user.role == 'admin' %>
		<p>Add an appraisal report:</p>
		<%= render 'results/form' %>
	<% end %>
<% end %>
