<h1>Edit this appraisal:</h1>

<%= simple_form_for([@user, @result]) do |form| %>

	<p>
		<%= form.input :quarter %>
	</p>

	<p>
		<%= form.input :year %>
	</p>

	<p>
		<%= form.input :summary %>
	</p>


	<p>
		<%= form.button :submit %>
	</p>

<% end %>