<h1>Edit this appraisal:</h1>

<%= simple_form_for([@user, @result]) do |f| %>

    <% if @result.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@result.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @result.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>



    <div class="field">
      <%= f.input :quarter, collection: ['Q1', 'Q2', 'Q3', 'Q4'] %>
  	</div>
  	<div class="field">
      <%= f.input :year, collection: ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2025', '2026', '2027', '2028', '2029', '2030'] %>
  	</div>
  	<div class="field">
      <br><%= f.input :summary %>
  	</div>
  	<div class="field">
  	 <%= f.button :submit, "Update Appraisal", :class=>"btn btn-success form-sub-2" %>
  	</div>

<% end %>

