<style>
  body{
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
    
  }
  .sign_in{
    float:center;
    background-color: rgba(255, 255, 255, .9);
    display: block;
    margin:auto;
    border-radius: 20px;
    border-color: #82b548;
    border-width: 20px;
    color: #82b548;
   
  }

  .grouppraisal{
    color:#82b548; 
    font-family: 'Raleway' sans-serif; 
    margin-top:65px; 
    font-size: 50px;

  }

  .field{
    font-size: 18px;
    color:black;
  }

</style>

<body>



<h1 class="grouppraisal">GROUPPRAISAL</h1>

<div class="row vertical-center-row">
  <div class="col-xs-4 col-xs-offset-4">

    <div class="sign_in">

    <b style="color:#82b548">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
    </b>
          <%= f.email_field :email, autofocus: true %>
        </div><br/>

    <b style="color:#82b548">
        <div class="field">
          <%= f.label :password %><br />
    </b>
          <%= f.password_field :password, autocomplete: "off" %>
        </div><br/>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <b style="color:#82b548"><%= f.label :remember_me %></b>
          </div><br/>
        <% end -%>

        <div class="actions" style="padding-bottom:30px">
          <b><%= f.submit "Log in", class: "btn btn-success" %></b>
        </div>
      <% end %>
    </div>
  </div>
</div>
</b>


</body>
